:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  background-color: bisque;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: greenyellow;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #747bff;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.login{
  margin-left: 20px;
  border: solid black;
  border-radius: 5px;
  padding: 10px;
  margin-top: 50px;
}

.sign-up{
  border: solid orange;
  margin-top: 100px;
}

.navbar {
  display: flex;
  justify-content: center; /* Center horizontally */
  background-color:paleturquoise; /* Dark background */
  padding: 15px;
  position: fixed; /* Fix the navbar at the top */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure it stays above other elements */
}

/* Style the list of links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px; /* Space between links */
  padding: 0;
  margin: 0;
}

/* Style the links */
.nav-links li {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #ffcc00; /* Highlight on hover */
}

.login-input{
  width: 150%;
  height: 40px;
}
.login-button{
margin-top: 15px;
background-color: goldenrod;
}

.login-label{
font-weight: bold;
}